<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title><%= titulo %></title>
    <link rel="stylesheet" href="/style.css"> 
</head>
<body>
    <div class="container">
    <h1><%= titulo %></h1>
    </div>
    <a href="/peliculas">Volver al Catálogo</a>
    <p><strong>ID:</strong> <%= pelicula.id %></p>
    <p><strong>Duración:</strong> <%= pelicula.duracion %> minutos</p>
    <p><strong>Clasificación:</strong> <%= pelicula.clasificacion %></p>
    <p><strong>genero</strong> <%= pelicula.genero %></p>
</body>
</html> 